html {
    box-sizing: border-box;
    font-family: Georgia, serif;
    line-height: 1.5;
    font-weight: normal;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

body {
  margin: 0;
  background-color: #bebebe;
}
